//Color
$color-brand-light : 	#24B99B;
$color-brand: 			#24B99B;
$color-brand-dark:		#198D76;
$color-brand-darken:	#24B99B;

$color-brand2-light: 	#24B99B;
$color-brand2: 		    #24B99B;

$color-green :          #28a745;
$color-red :            #B92424;

$color-base-lighter : 	#F8F8F8;
$color-base-light : 	#D8D8D8;
$color-base: 			#9B9B9B;
$color-base-dark: 		#6c757d;

//Font
$font-icon-solid: normal normal 900 14px/1 'Font Awesome 5 Free';
$font-icon-regular: normal normal 400 14px/1 'Font Awesome 5 Free';
$font-brand: "DB Heavent", sans-serif;
$font-read: 'Sarabun', sans-serif;

// Media queries breakpoints
// --------------------------------------------------
$screen-xxs:			320px;
$screen-xs:				480px;
$screen-sm:             767px;
$screen-tablet: 		860px;
$screen-md:             991px;
$screen-lg:				1199px;
$screen-xl:				1499px;