body{
	font-family: $font-brand;
	color: $color-base-dark;
	font-weight: normal;
    font-size: 1.5em;
    line-height: 1;
	background: $color-base-lighter;
	@include screen-768{
		padding-bottom: 100px;
	}
}
a:visited{
	color: $color-brand;
}
a:hover,
a:active{
	text-decoration: none;
	color: $color-brand-dark;
}
a:focus{
	text-decoration: none;
}

a{
	&.color-brand2{
		color: $color-brand2;
	}
}

@include screen-768{
	body.fixed-position-xs{
		position: fixed;
		width: 100%;
		#back_to_top{
			display: none;
		}
	}	
}
/* Fix wordpress admin bar */
@media screen and (max-width: 600px){
	#wpadminbar{
		overflow: hidden;
	}
	html body.fixed-position-xs #wpadminbar{
		top: -46px !important;
		overflow: hidden;
	}
}