.page-404{
    .section-single .entry-header{
        margin-bottom: 0;
        padding-bottom: 80px;
        &:before{
            bottom:0;
        }
        a{
            color: $color-brand;
        }
        .search-form{
            margin-bottom: 60px;
        }
        .search-field{
            vertical-align: middle;
            padding: 3px 10px;
            box-sizing: border-box;
        }
        .search-submit{
            font-size: 16px;
            vertical-align: middle;
            background: $color-brand2;
            color: #fff;
            border: none;
        }
    }
}