.padding-none{
    padding: 0;
}
.feature-swiper{
    position: relative;
    width: 100%;
    height: 430px;
    @include screen-768{
        height: 625px;
    }
    .swiper-pagination-bullet{
        background: #fff;
    }
    .swiper-pagination-bullet-active{
        background: $color-brand;
    }
    .swiper-slide{
        position: relative;
        background: no-repeat center center;
        background-size: cover;
        &::before {
            content: "";
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            position: absolute;
            background: rgba(0, 0, 0, 0.8);
            z-index: 0;
        }
        &::after{
            content: "";
            top: 0;
            left: 0px;
            right: 0px;
            bottom: 0px;
            position: absolute;
            z-index: 2;
            background: rgba(0,0,0,0);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        }
        >.image{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: no-repeat center center;
            background-size: contain;
            z-index: 1;
            @include screen-768{
                background: no-repeat center 25%;
                background-size: contain;
            }
        }
        .item-detail{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 20px;
            z-index: 10;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            >.title{
                max-width: 520px;
                font-size: 35px;
                color: #fff;
                font-weight: bold;
                line-height: 1em;
                a{
                    color: #fff;
                }
            }
            .category{
                margin-bottom: 20px;
                >.view-count{
                    padding-right: 15px;
                    padding-left: 15px;
                    background: #000;
                    font-size: 18px;
                    border: 2px solid #000;
                    i{
                        font-size: 14px;
                        margin-right: 5px;
                    }
                }
            }
            .meta-date{
                font-size: 18px;
                color: #D8D8D8;
                >i{
                    font-size: 14px;
                }
                .updated{
                    display: none;
                }
            }
        }
    }
}