.comment-section{
	margin-bottom: 80px;
	&.bg-brand:before{
		top: -300px;
		@include screen-992{
			left: 0;
			top: -60px;
		}
	}
	.comment-container{
		@include screen-768{
			margin-left: 20px;
			margin-right: 20px;
		}	
	}
	.comment-form{
		max-width: 520px;
		>.form-group{
			position: relative;
			padding-left: 30px;
			>.dot{
				position: absolute;
				left: 10px;
				top: 18px;
				@include screen-768{
					left: 0;
				}
			}
			.form-control{
				border-radius: 22px;
				height: 43px;
				line-height: 43px;
				padding: 0 30px;
				text-align: left;
				font-size: 17px;
			}
		}
		>.comment-form-comment{
			margin-bottom: 20px;
			>.textarea-comment{
				padding:10px 20px;
				border-radius: 8px;
			}
		}
		>.form-submit{
			text-align: right;
			input[type=submit]{
				display: inline-block;
				border: none;
				border-radius: 26px;
				background: $color-brand2;
				color: #fff;
				font-size: 14px;
				line-height: 52px;
				padding: 0 30px;
				&:visited,
				&:focus{
					color: #fff;
				}
			}
		}
	}
}

.comment-list{
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 40px;
	ol{
		list-style: none;
	}
	li{
		margin-bottom: 20px;
	}
	.comment-author{

		>img{
			border-radius: 50%;
			margin-right: 10px;
		}
		a{
			color: $color-base;
		}
		.says{
			display: none;
		}
	}
	.comment-metadata{
		a{
			color: $color-base-light;	
		}
	}
	.comment-content{
		font-size: 16px;
	}
	.comment-awaiting-moderation{
		color: $color-base-light;	
		font-size: 11px;
		line-height: 1.4em;
	}
	.reply{
		a,
		a:visited,
		a:focus{
			font-size: 12px;
			font-weight: bold;
			color: $color-brand2;
			@include transition(all 0.3s ease);
			&:hover{
				color: $color-brand;
			}
		}

	}
}