.site-header{
	min-height: 100vh;
	@media (max-width: 991px){
		min-height: 0;
		&.col-bottom {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow: 0 .125rem .75rem rgba(0,0,0,.5) !important;
			z-index: 10;
		}
	}
}

.main-nav{
	position: fixed;
	width: 16.8%;
	@media (max-width: 991px) {
		display: flex;
		margin: 10px;
		position: static;
		width: auto;
	}
	.logo{
		margin: 1rem auto 3rem;
		padding-left: 0;
		display: block;
	}
	.link{
		@include transition( all 0.5s ease );
		color: #9B9B9B;
		background-repeat: no-repeat;
		background-size: 25px;
		background-position: top center;
		display: block;
		flex: 1;
		padding: 30px 0 0;
		text-align: center;
		font-size: 15px;
		@media (min-width: 992px){
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 22px;
			display: block;
			padding: 5px 0 5px 28px;
			font-size: 21px;
			text-align: left;
			margin: 0 0 1rem 1.25rem;
		}
		@media (min-width: 1200px){
			font-size: 22px;
			background-size: 25px;
			padding: 10px 0 10px 30px;
		}
		&.tournament{
			background-image: url('../images/share/ic-tournament@2x.png');
		}
		&.team{
			background-image: url('../images/share/ic-teams@2x.png');
		}
		&.profile{
			background-image: url('../images/share/ic-profile@2x.png');
		}
		&.news{
			background-image: url('../images/share/ic-news@2x.png');
		}
		&.faq{
			background-image: url('../images/share/ic-help@2x.png');
		}
		&.thailand-earena{
			background-image: url('../images/share/ic-thailand-esports@2x.png');
		}
		&.is-active{
			color: $color-brand;
			position: relative;
			&:after{
				content: " ";
				width: 4px;
				height: 100%;
				background-color: #24B99B;
				position: absolute;
				top: 0;
				right: 0;	
				@media (max-width: 991px) {
					display: none;
				}
			}
			&.news{
				background-image: url('../images/share/ic-news_active@2x.png');
			}
		}
	}
}

.lang-nav,
.lang-nav-mobile{
	position: fixed;
	bottom: 0;
	list-style: none;
	padding: 0;
	@media (max-width: 992px){
		display: none;
	}
	a[lang]{
		display: block;
		padding: 10px 0 10px 30px;
		font-size: 22px;
		margin: 0 0 0 1.25rem;
		color: $color-base;	
		position: relative;
		&:before{
			border-radius: 50%;
			background: no-repeat left center;
			background-size: 25px;
			content: '';
			width: 25px;
			height: 25px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -12px;
		}
	}
	a[lang="en-US"]{
		&:before{
			background-image: url('../images/share/gb.svg');
		}
	}
	a[lang="th"]{
		&:before{
			background-image: url('../images/share/th.svg');
		}
	}
}
.lang-nav-mobile{
	display: none;
	top: 20px;
	left: 20px;
	max-width: 25px;
	height: 25px;
	overflow: hidden;
	z-index: 100;
	a[lang]{
		padding: 0;
		margin: 0;
		&:before{
			top: 0;
			margin-top: 0;
		}
	}
	@media (max-width: 992px){
		display: block;
	}
}