.main-navigation{
    flex-grow: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
	align-items: center;
    >.menu-toggle{
		display: none;
		position: absolute;
		top: 5px;
		right: 10px;
		width: 40px;
		height: 40px;
		background:none;
		border: none;
		outline: none;
		z-index: 1000;
		@include screen-768{
			display: block;
		}
		&:before, 
		&:after, 
		& span {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -11px;
			width: 22px;
			height: 2px;
			background: #fff;
			@include transition( all 0.3s ease );
		}
		&:before{ top: 10px; }
		& span { top: 18px; }
		&:after{ top: 26px; }	
	}
}

@keyframes open{
	0%{
		opacity: 0;
		transform: translateY(10px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}

}
#main-menu{
    margin: 0;
	padding: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	@include screen-768{
		display: none;
	}
	li{
		display: block;
		position: relative;
		a{
			padding: 20px;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
			&:visited{
				color: #fff;
			}
			&:hover,
			&:focus{
				color: #4A4A4A;
			}
			@include transition(all 0.3s ease);
			@include screen-992{
				font-size: 12px;
				padding: 15px;
			}
		}
		&.current-menu-item{
			>a{
				color: $color-brand2;
				font-weight: 700;
			}
		}
		.sub-menu{
			display: none;
			top:40px;
			text-align: left;
			position: absolute;
			margin-left: 0;
			padding: 10px 15px;
			background: #fff;
			@include box-shadow(0 8px 20px rgba(185,149,126,0.4));
			@include screen-768{
				position: relative;
				top: 0;
				background: #000;
				@include box-shadow(none);
			}
			>li{
				border-bottom: 1px solid $color-brand-light;
				width: 120px;
				@include screen-768{
					width: auto;
					border-bottom: 1px solid #222;
				}
				&:last-child{
					border-bottom: none;
				}
				a{
					white-space: nowrap;
					display: block;
					padding: 5px 5px;
					text-transform: capitalize;
					position: relative;
					color: #4A4A4A;
					@include transition(all 0.3s ease);
					&:hover{
						color: $color-brand-dark;
					}
				}
			}
		}
		>.sub-menu > li > .sub-menu{
			top:0;
			left: 120px;
			@include screen-768{
				left: 10px;
			}
			>li{
				width: auto;
			}
		}
		&:hover{
			>.sub-menu{
				display: block;
				animation: open 0.3s;
				@include screen-768{
					display: inherit;
				}
			}
		}
	}
	>li.menu-item-has-children{
		position: relative;
		>a{
			padding-right: 40px;
			position: relative;
			@include screen-768{
				padding-right: 20px;
			}
			&:before{
				content: "\f078";
				font: $font-icon-solid;
				font-size: 14px;
				color: #fff;
				position: absolute;
				right: 20px;
				top: 26px;
				margin-top: -3px;
				display: inline-block;
				@include screen-992{
					top: 20px;
				}
				@include screen-768{
					top:25px;
					font-size: 20px;
				}
			}
		}
		.sub-menu{
			@include screen-768{
				display: none !important;
			}
			li.menu-item-has-children{
				>a{
					padding-right: 40px;
					position: relative;
					@include screen-768{
						padding-right: 20px;
					}
					&:before{
						content: "\f078";
						font: $font-icon-solid;
						font-size: 14px;
						color: $color-base;
						position: absolute;
						right: 5px;
						top: 50%;
						margin-top: -10px;
						display: inline-block;
						color: $color-brand;
						@include screen-768{
							top:25px;
							font-size: 20px;
							content: "\f078";
						}
					}
				}
				.sub-menu{
					a{
						@include screen-768{
							font-size: 13px;
							padding: 10px 0;
							padding-left: 20px;
							color: $color-base;
						}
					}
				}
			}
		}
		&.open{
			@include screen-768{
				>a{
					&:before{
						content: "\f106";
					}
				}
				>.sub-menu{
					display: block !important;
					animation: open 0.3s;
					>li.open{
						>a:before{
							content: "\f106";
						}
						>.sub-menu{
							display: block !important;
							animation: open 0.3s;
						}
					}
				}
			}
		}
	}
}

body.nav-active{
	@include screen-768{
		position: fixed;
		overflow-y: scroll; 
		width: 100%;
		.main-navigation{
			top: 0;
			left: 0;
			width: 100%;
			>.menu-toggle{
				z-index: 10000;
				&:before{ 
					top: 18px; 
					@include rotate(45deg);
				}
				& span { 
					opacity: 0;
				}
				&:after{ 
					top: 18px; 
					@include rotate(-45deg);
				}
			}
		}
		#main-menu{
			position: fixed;
			background: rgba(0,0,0,0.9);
			display: block;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			max-height: 100%;
			opacity: 1;
			display: block;
			text-align: left;
			animation: 0.3s ease 0s 1 openActiveMenu;
			@include screen-768{
				padding-top: 80px;
				overflow-y:auto;
			}
			>li{
				display: block;
				a{
					font-size: 14px;
					padding: 15px 30px;
					display: block;
					font-weight: 500;
					text-transform: capitalize;
					&:hover,
					&:visited{
						color: #fff;	
					}		
				}
				&.current-menu-item{
					background: #fff;
					>a{
						color: $color-brand2;
					}
				}
			}
		}
	}
}

@keyframes openActiveMenu {
	0% {
	  opacity: 0;
	  @include translate( 0 , 50px );
	}
	100% {
		opacity: 1;
	  @include translate( 0 , 0 );
	}
  }