.badge.badge-outline {
    border: 2px solid;
    background-color: transparent
  }
  
  .badge.badge-outline.badge-default {
    border-color: #B0BEC5;
    color: #B0BEC5
  }
  
  .badge.badge-outline.badge-primary {
    border-color: $color-brand;
    color: $color-brand;
    &:hover{
        color: #fff;
        background: $color-brand;
    }
  }
  
  .badge.badge-outline.badge-secondary {
    border-color: #323a45;
    color: #323a45
  }
  
  .badge.badge-outline.badge-success {
    border-color: #64DD17;
    color: #64DD17
  }
  
  .badge.badge-outline.badge-warning {
    border-color: #FFD600;
    color: #FFD600
  }
  
  .badge.badge-outline.badge-info {
    border-color: #29B6F6;
    color: #29B6F6
  }
  
  .badge.badge-outline.badge-danger {
    border-color: #ef1c1c;
    color: #ef1c1c
  }