.card-deck{
    display: flex;
    flex-wrap: wrap;
}
.card-deck-2-item{
    .card-item{
        flex: 0 0 calc(50% - 30px);
        @include screen-768{
            flex: 0 0 calc(100% - 30px);
        }
    }
}
.card-deck-3-item{
    .card-item{
        flex: 0 0 calc(33% - 30px);
        @include screen-768{
            flex: 0 0 calc(100% - 30px);
        }
    }
}

.card-deck-6-item{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .card-item{

        flex: 0 0 calc(16.6666% - 30px);
        @include screen-1200{
            flex: 0 0 calc(33.3333% - 30px);
        }
        @include screen-768{
            flex: 0 0 calc(50% - 30px);
        }
    }
}


.card-item{
    width: 100%;
    margin: 0 15px 30px;
    @media screen and (max-width: 575px) {
        margin: 0 0 30px;
    }
    .card-container{
        background: #fff;
        border-radius: 12px;
        overflow: hidden;
        @include box-shadow(0px 8px 13px rgba(0, 0, 0, 0.09) );
        >.card-top{
            padding-top: 52.3%;
            position: relative;
            display: block;
            .card-image-top{
                background: no-repeat center center;
                background-size: cover;
                position: absolute;
                top:0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 0;
                display: block;
                border-radius: 12px 12px 0 0;
            }
            .card-content-top{
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
                padding: 15px;
                text-align: right;
                pointer-events: none;
                >.view-count{
                    color: #fff;
                    background: rgba(0,0,0,0.45);
                    font-size: 18px;
                    display: inline-block;
                    border-radius: 12px;
                    padding: 5px 15px;
                    >i{
                        font-size: 12px;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
    .card-detail{
        padding: 20px;
        @include screen-1200{
            padding: 15px;
        }
        >.category{
            min-height: 31px;
            margin-bottom: 15px;
            @include screen-1200{
                .badge{
                    font-size: 14px;
                }
            }
        }
        >.title{
            font-size: 30px;
            line-height: 1em;
            overflow: hidden;
            max-height: 3em;
            height: 3em;
            @include screen-1200{
                font-size: 26px;
            }
            a{
                color: #000;
            }
        }
        >.meta-date{
            font-size: 17px;
            color: $color-base;
            i{
                font-size: 14px;
            }
            .updated{
                display: none;
            }
        }
    }
}

.card-item.--category{
    @media screen and (max-width: 575px) {
        margin: 0 15px 30px;
    }
    .card-container{
        >.card-top{
            padding-top: 100%;
        }
    }
    .card-detail{
        >.title{
            max-height: 2em;
            height: 2em;
            @include screen-768{
                font-size: 18px;
            }
        }
    }
}