ul.page-numbers {
    list-style: none;
	margin: 0 auto;
	padding:0;
	text-align: center;
}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.page-numbers li {
    display: inline-block;
    margin: 0 4px 4px 0;
    text-align: center;
}

.page-numbers a,
.page-numbers span {
	display: inline-block;
    height: 34px;
	width: 34px;
	color: $color-base;
	border-radius: 4px;
	margin: 0 5px;
	border: 1px solid $color-base-light;
	line-height: 34px;
	@include transition(all 0.3s ease);
	i{
		font-size: 14px;
	}
	@include screen-480{
		margin: 0 1px;
	}
	@include screen-320{
		margin: 0 -1px;
		border-radius: 0;
		width: 30px;
	}
	&.current,
	&.current:hover{
		background: $color-brand;
		border: 1px solid $color-brand;
		color: #fff;	
	}
}

.page-numbers a span { padding: 0 }

.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    color: #000;
    background: #f7f7f7;
    text-decoration: none;
}

.page-numbers:hover { text-decoration: none }