.search-section-wrapper{
    margin-bottom: 25px;
    .search-form{
        display: flex;
        @include box-shadow(0px 8px 13px rgba(0, 0, 0, 0.09) );
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        &:after{
            content: "\F002";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 18px;
            position: absolute;
            top:0;
            right: 0;
            bottom: 0;
            width: 60px;
            pointer-events: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        >label{
            flex-grow: 1;
            margin-bottom: 0;
            .screen-reader-text{
                display: none;
            }
        }
        .search-field{
            border: 0;
            background: #fff;
            height: 50px;
            line-height: 50px;
            padding: 0 15px;
            outline: none;
            width: 100%;
        }
        .search-submit{
            border: none;
            width: 60px;
            background: $color-brand;
            font-size: 0;
            outline: none;
            @include transition(all 0.3s ease);
            &:hover{
                background: $color-brand-dark;
            }
        }
    }
}