@mixin screen-1500{
	@media screen and ( max-width: $screen-xl ) {
	    @content;
	}
}

@mixin screen-1200{
	@media screen and ( max-width: $screen-lg ) {
	    @content;
	}
}

@mixin screen-992{
	@media screen and ( max-width: $screen-md ) {
	    @content;
	}
}

@mixin screen-860{
	@media screen and ( max-width: $screen-tablet ) {
	    @content;
	}
}

@mixin screen-768{
	@media screen and ( max-width: $screen-sm ) {
	    @content;
	}
}

@mixin screen-480{
	@media screen and ( max-width: $screen-xs ) {
	    @content;
	}
}

@mixin screen-320{
	@media screen and ( max-width: $screen-xxs ) {
	    @content;
	}
}