.content-header{
    color: #ffffff;
    min-height: 625px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    position: relative;
    margin: -25px -1.35rem 25px;
    overflow: hidden;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    &::before {
        content: "";
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
    @media (min-width: 768px){
        background-size: contain;
    }
    @media (min-width: 576px){
        min-height: 430px;
    }
}

.content-header.--content{
    background-size: cover;
    @include screen-768{
        max-height: 430px;
        min-height: 430px;
        padding: 20px;
    }
    &::before {
        background: rgba(0, 0, 0, 0.8);
    }
    &::after{
        content: "";
        top: 50%;
        left: 0px;
        right: 0px;
        bottom: 0px;
        position: absolute;
        z-index: 1;
        background: rgba(0,0,0,0);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    }
    >.image{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: no-repeat center center;
        background-size: contain;
    }
}

.content-header.--category{
    display: flex;
    align-items: flex-end;
    background-size: cover;
    @include screen-768{
        max-height: 430px;
        min-height: 430px;
        padding: 20px;
    }
    &::before{
        display: none;
    }
    >.title{
        color: #fff;
        text-shadow: 0 1px 5px rgba(0,0,0,0.5);
        margin-bottom: 0;
    }
    &.earena-news{
        background-image: url('../images/cover/cover-earena-news@2x.png');
        @include screen-768{
            background-image: url('../images/cover/cover-earena-news-mobile@2x.jpg');
        }
    }
    &.earena-news{
        background-image: url('../images/cover/cover-earena-news@2x.png');
        @include screen-768{
            background-image: url('../images/cover/cover-earena-news-mobile@2x.jpg');
        }
    }
    &.esport{
        background-image: url('../images/cover/cover-esport@2x.png');
        @include screen-768{
            background-image: url('../images/cover/cover-esport-mobile@2x.jpg');
        }
    }
    &.luckydraw-enjoyment{
        background-image: url('../images/cover/cover-luckydraw-enjoyment@2x.png');
        @include screen-768{
            background-image: url('../images/cover/cover-luckydraw-enjoyment-mobile@2x.jpg');
        }
    }
    &.news{
        background-image: url('../images/cover/cover-news@2x.png');
        @include screen-768{
            background-image: url('../images/cover/cover-news-mobile@2x.jpg');
        }
    }
    &.review{
        background-image: url('../images/cover/cover-review@2x.png');
        @include screen-768{
            background-image: url('../images/cover/cover-review-mobile@2x.jpg');
        }
    }
    &.tip-trick{
        background-image: url('../images/cover/cover-tip-trick@2x.png');
        @include screen-768{
            background-image: url('../images/cover/cover-tip-trick-mobile@2x.jpg');
        }
    }
    &.all{
        background-image: url('../images/cover/cover-all@2x.png');
        @include screen-768{
            background-image: url('../images/cover/cover-all-mobile@2x.jpg');
        }
    }
}

.page-header{
    @media (max-width: 992px){
        margin-top: 30px;
    }
    >.title{
        font-size: 51px;
        font-weight: bold;
        color: #000;
        margin-bottom: 35px;
    }
}

.entry-header{
    max-width: 900px;
    margin: 0 auto 50px;
    padding: 35px 0 35px;
    border-bottom: 1px solid $color-base-light;
    .category{
        margin-bottom: 20px;
        >.view-count{
            padding-right: 15px;
            padding-left: 15px;
            background: $color-base;
            font-size: 18px;
            border: 2px solid $color-base;
            i{
                font-size: 14px;
                margin-right: 5px;
            }
        }
    }
    .entry-title{
        font-size: 52px;
        color: #000;
        line-height: 48px;
        font-weight: bold;
    }
}
.entry-meta{
    font-size: 18px;
    .update{
        display: none;
    }
}
.entry-content{
    max-width: 780px;
    margin: 0 auto;
    color: #000;
    font-family: $font-read;
    font-size: 18px;
    line-height: 1.8em;
    h1,h2,h3,h4,h5,h6{
        font-family: $font-brand;
    }
    .tags-wrapper{
        margin-top: 35px;
        margin-bottom: 35px;
        >a{
            display: inline-block;
            border: 2px solid $color-base;
            border-radius: 30px;
            padding: 5px 15px;
            font-size: 16px;
            color: $color-base;
            margin-right: 10px;
        }   
    }
}

.share-wrapper{
    margin-bottom: 35px;
    >.title{
        font-size: 37px;
        font-weight: bold;
    }
    >a{
        display: inline-block;
        width: 40px;
        height: 40px;
        background: no-repeat center center;
        background-size: contain;
        margin-right: 5px;
    }
    .line{
        background-image: url('../images/share/icon-line.svg');
    }
    .twitter{
        background-image: url('../images/share/icon-twitter.svg');
    }
    .facebook{
        background-image: url('../images/share/icon-facebook.svg');
    }
}