.site-wrapper{
    min-height: 100vh;
}

.section-wrapper{
    border-bottom: 1px solid $color-base-light;
    >.title{
        margin-top: 30px;
        color: #000;
        font-weight: bold;
        font-size: 37px;
    }
    .action{
        margin-bottom: 35px;
    }
}

.social-link{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}